/* Main Page CSS File     */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    
  }

  html * {
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    line-height: 1.625;
    color:rgb(10, 10, 10);
    -webkit-text-stroke: .01rem rgb(252, 251, 247); 
  }
  
  /*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
  /* Start of "Micro clearfix" */
  
  .cf {
    zoom: 1;
  }
  .cf:before,
  .cf:after {
    content: "";
    display: table;
  }
  .cf:after {
    clear: both;
  }

  /* Main Page build guide  */

/* Max width:
1900
 px
Columns: width 215 px
8 cols

Gutter width: 20 px

Margin width: 20px

Page width: 1900 px
Column width: 215 px */


  main{
	
    margin: 0 auto;
    background-image:url(../resources/headerbanner.JPG);
	  background-repeat: no-repeat;
    background-size:cover;
    border:1px solid black;
    /* display: flex; */
  }

  h1{
    font-size: 25px;
  }

  header.primary, footer.primary{
    /* width:900px; 1780/1900  */
    width:97.89%;
    /* margin:30px; 30/1900 */
    /* margin:60px; */
    /* background-color: rgba(10, 66, 170, 0.658); */
    float:left;
	  margin-left: 25px;
    /* padding:20px; */
    padding:2.22%;
    /* display: flex; */

  }

  #blog, aside{
    /* background-color: rgba(208, 255, 0, 0.288) ; */
    /* width:435px; 435/958 35 %*/
    width:550px;
    float:left;
    /* margin-left: 30px; 30/958 */
    margin-left:7.08%;
	  margin-right: 255PX;
    padding:3.42%;
    /* display:grid; */
   
	
  }

  
 

  .frame{
    width:420px;
    height:240px;
    background-image: url("https://www.youtube.com/embed/MNaCJGV2jN4");
  }

  /* Header Elements */

  header.primary nav {

     margin: 5px auto;
     
  }

  header.primary h1 {
    font-size: 3rem;
    display:flex;
    justify-content: center;
    color:rgb(19, 17, 17);
  }
/* Center elements */
  header.primary nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}
/* space between elements */
header.primary nav ul li{
  margin:0 1.5rem;
  font-size: 5.0 rem;
}
header.primary nav ul li a{
  text-decoration: none;
  font-size: 1.5rem;
  color:rgb(19, 17, 17);
}

h1 a{
  text-decoration: none;
  font-size: 3rem;
}

ul li{
  list-style-type: none;

}


/* --------- Media Queries --------- */

@media screen and (max-width:750px){

main{
	  
		font-family: 'Anton', sans-serif;
    display:inline;
    justify-content: center;
	} 
  header.primary h1{
    color: rgb(128, 99, 7);
  }
  header.primary nav ul li a{
    color: rgb(128, 99, 7);
  }
  body{
    background-image:url(../img/Gold\ Flamingo.jpg);
    justify-content: center;
    align-items: center;
    height: 800px;
  }
  p{
		color: rgb(128, 99, 7);
	}
  a{
    color: rgb(128, 99, 7);
  }
  ul li{
    color: rgb(128, 99, 7);
  }
  time{
    color: rgb(128, 99, 7);
  }
  h2{
    color: rgb(128, 99, 7);
  }
  div.post-meta{
    color: rgb(128, 99, 7);
  }


} /* --- End Of mobile ---- */

 /* Tablet */

 @media screen and (min-width:755px) and (max-width:1130px){ 

  main{
	  
		font-family: 'Anton', sans-serif;
    display:inline;
    justify-content: center;
	} 
  header.primary h1{
    color: rgb(12, 12, 11);
  }
  header.primary nav ul li a{
    color: rgb(19, 18, 16);
  }
  body{
    background-image:url(../img/outside.JPG);
    background-repeat: no-repeat;
    background-size:cover;
  }
  p{
		color: rgb(8, 8, 7);
	}
  a{
    color: rgb(14, 13, 13);
  }
  ul li{
    color: rgb(17, 17, 16);
  }
  time{
    color: rgb(7, 7, 7);
  }
  h2{
    color: rgb(17, 17, 16);
  }
  div.post-meta{
    color: rgb(15, 15, 14);
  }




 }

   /* can not exceed 600px" */
  /* @media screen and (max-width:600px)  {
	main{
	  
		font-family: 'Anton', sans-serif;
    display:inline;
	} 
	p{
		color: rgb(128, 99, 7);
	}
  body{
    background-image:url(../img/Gold\ Flamingo.jpg);
  }

  
  
  } 

  /* Ranged */ 

/* @media screen and (max-width: 1900px) and (min-width: 600px) {
	.blog{
		display:inline-block; 
    width:100%;
     min-width:200px; 
     max-width:340px;
	} 
} */

/* Min Width Querey */
/* @media screen and (max-width: 600px){
	#blog,aside{
		grid-template-columns: 1fr;
	} 
} */ 
  /* End of "Micro clearfix" */