html {
    box-sizing: border-box;
    
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;

    
  }

  html *{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    line-height: 1.625;
    color:rgb(22, 22, 21);
    -webkit-text-stroke: .01rem rgb(236, 236, 237);
  }

  /* body{
    background:url(../img/room.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 550px;
  } */



  /* article{
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: azure;
  } */

  header{

    /* background-color: rgba(8, 8, 8, 0.53); */
    
  
  }
  
  img {
    max-width:100%;
    height:auto;
  }

  /* Ul styles */

  #skills ul li{
    list-style: none;
  }

  .related-links{
    list-style: none;
  }

  /* Link Styles */

  header

  .related-links a:link{
    text-decoration: none;
  }

  .job a{
    text-decoration: none;
  }

  /* Utility */

  .container{
    margin:0 auto;
    background:rgba(0,0,0,.15);
    width:480px;
  } 

  /* Global */

  body{

  } 

  nav{

  }

  nav a:link, nav a:visited{

  }

  nav a:hover{

  }

  main{

  }

  main h1{

  }

  main h1:before, main h1:after {

  }

  main h1:before {
    
  }
  main h1:after {
    
  }  

  dl{

  }

  dt{

  }

  dd{

  }

  .related-links{

  }

  .related-links .svg-inline--fa{

  }

  .realted-links a{

  }

  .related-links a:hover{

  }

  .realted-links li{

  }

  #skills{

  }

  #skills li {

  }

  .job, .certificate {

  }

  .job *[itemprop="jobTitle"], 
.job *[itemprop="name"], 
.job *[itemprop="url"], 
.job *[itemprop="addressLocality"],
.certificate *[itemprop="name"]
{

}

.job h3{

}

.footer{
  
}